<h1>New Sub</h1>

<% unless flash.now[:errors].nil? %>
  <% flash.now[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="title">Title</label><br>
  <input id="title" type="text" name="sub[title]" value="<%= @sub.title %>">
  <br>

  <label for="description">Description</label><br>
  <textarea
    id="description"
    name="sub[description]"
    rows="8" cols="40"><%= @sub.description %></textarea>
  <br>

  <input type="submit" value="Update Sub">
</form>
